/*::ng-deep .p-rating {
    text-align: center;
}*/

::ng-deep .p-rating .p-rating-icon {
    font-size: 1.35rem;
}

.rating-cnt {
    text-align: center;
}

.rating-cnt > span {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.rating-cnt > .disabled {
    opacity:.5;
}
