<div *ngIf="survey" class="content-panel survey-list-item light-shadow" matRipple (click)="onClick.emit($event)">
    <div class="survey-logo">
        <img *ngIf="survey.imageData" class="thumb-circle" alt="Logo" [src]="survey.imageData" loading="lazy" onerror="this.src='assets/img/broken_image.png';" />
        <img *ngIf="!survey.imageData" class="thumb-circle" alt="Logo" src="assets/img/empty_image.png" />
    </div>

    <div class="survey-info">
        <span class="line-limit survey-title" title="{{ survey.title }}">{{ survey.title }}</span>
        <span class="line-limit survey-desc" title="{{ survey.description }}">{{ survey.description }}</span>
        
        <div class="survey-amount" title="{{ rmngBudget }} INC">
            <span class="line-limit"><b>{{ 'remaining_budget' | translate }}:</b> {{ rmngBudget }}</span>
            <span class="coin-suffix">INC</span>
        </div>

        <div *ngIf="!forOwner" class="survey-amount" title="{{ survey.formatted.rewardAmount }} INC">
            <span class="line-limit"><b>{{ 'reward' | translate }}:</b> {{ survey.formatted.rewardAmount }}</span>
            <span class="coin-suffix">INC</span>
        </div>

        <div *ngIf="forOwner" class="survey-amount" title="{{ partsNum }}">
            <span class="line-limit"><b>{{ 'participations' | translate }}:</b> {{ partsNum }}</span>
        </div>
    </div>

    <div class="survey-amounts">
        <span class="survey-amount" title="{{ rmngBudget }} INC">
            <span class="line-limit"><b>{{ 'remaining_budget' | translate }}:</b> {{ rmngBudget }}</span>
            <span class="coin-suffix">INC</span>
        </span>
        
        <span *ngIf="!forOwner" class="survey-amount" title="{{ survey.formatted.rewardAmount }} INC">
            <span class="line-limit"><b>{{ 'reward' | translate }}:</b> {{ survey.formatted.rewardAmount }}</span>
            <span class="coin-suffix">INC</span>
        </span>

        <div *ngIf="forOwner" class="survey-amount" title="{{ partsNum }}">
            <span class="line-limit"><b>{{ 'participations' | translate }}:</b> {{ partsNum }}</span>
        </div>
    </div>

    <span class="survey-state">
        <p-tag *ngIf="getState(survey) == SurveyState.OPENED" styleClass="p-mr-2" severity="info" value="{{ 'opened' | translate }}"></p-tag>
        <p-tag *ngIf="getState(survey) == SurveyState.CLOSED" styleClass="p-mr-2" severity="success" value="{{ 'closed' | translate }}"></p-tag>
        <p-tag *ngIf="getState(survey) == SurveyState.PENDING" styleClass="p-mr-2" severity="warning" value="{{ 'pending' | translate }}"></p-tag>
        <!--<p-tag *ngIf="getState(survey) == SurveyState.NO_BUDGET" styleClass="p-mr-2" severity="danger" value="{{ 'no_budget' | translate }}"></p-tag>-->
    </span>

    <span class="survey-tag">
        <p-tag *ngIf="getState(survey) == SurveyState.OPENED" styleClass="p-mr-2" severity="info" value="{{ 'opened' | translate }}"></p-tag>
        <p-tag *ngIf="getState(survey) == SurveyState.CLOSED" styleClass="p-mr-2" severity="success" value="{{ 'closed' | translate }}"></p-tag>
        <p-tag *ngIf="getState(survey) == SurveyState.PENDING" styleClass="p-mr-2" severity="warning" value="{{ 'pending' | translate }}"></p-tag>
        <!--<p-tag *ngIf="getState(survey) == SurveyState.NO_BUDGET" styleClass="p-mr-2" severity="danger" value="{{ 'no_budget' | translate }}"></p-tag>-->
    </span>

    <mat-icon class="survey-arrow">keyboard_arrow_right</mat-icon>
</div>
