.chart {
    padding: 14px;
    margin: 0 auto;
    overflow: hidden;
}

::ng-deep .chart .apexcharts-svg {
    overflow: visible;
}

::ng-deep .chart .apexcharts-tooltip-text-y-value {
    white-space: pre-line;
}