.token-selector {
    min-width: 420px;
    max-width: 420px;
}

/*.token-selector > div {
    height: 594px;
    max-width: 100%;
}*/

.token-selector .dialog-title {
    padding: 10px 15px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.token-selector .dialog-content {
    padding: 0;
    margin: 0;
    min-height: 320px;
}

.token-selector .dialog-actions {
    justify-content: center;
    padding: 10px;
    min-height: unset;
    margin: 0;
    background-color: rgb(0 0 0 / 10%);
}

.token-selector .dialog-actions .mat-button {
    color: var(--text-color-secondary);
}

.token-selector .dialog-actions .tip {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color-secondary);
    margin: 8px;
}

.dialog-title-border {
    border-bottom: 1px solid rgb(0 0 0 / 25%);
}

.token-selector .top-content {
    padding: 4px 20px 0 20px;
}

.token-selector .token-filter {
    width: 100%;
    border-radius: 1rem;
    padding: 0.75rem 0.5rem;
}

.token-selector .bases-title {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.token-selector .bases-title>span {
    font-weight: 500;
    font-size: 14px;
    margin-right: 4px;
}

.token-selector .bases-title>i:hover, .bases-title>i:focus {
    opacity: 0.7;
}

.token-selector .bases-cnt {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

::ng-deep .bases-cnt .mat-badge-content {
    width: 48px;
    border-radius: 1rem;
}

.token-selector .list-divider {
    display: block;
    margin-top: 10px;
}

::ng-deep .token-selector .list-divider .p-divider.p-divider-horizontal:before {
    border-top: 1px solid rgb(0 0 0 / 10%);
}

.token-selector .tokens-cnt {
    flex-direction: column;
    display: flex;
}

.token-selector .tokens-cnt .tokens-head {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    padding: 10px;
}

.token-selector .token-icon {
    display: inline-block;
}

.token-selector .token-symbol {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
}

.token-selector .token-name {
    font-size: 13px;
    color: var(--text-color-secondary);
}

.token-selector .token-balance {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
}

.token-selector .token-item {
    border-radius: 1rem;
    margin: 4px;
    padding: 6px 8px;
    line-height: normal;
}

.token-selector .token-item .token-icon {
    margin-right: 4px;
}

.token-selector .token-row,
.token-selector .custom-token-row {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.token-selector .token-row {
    position: relative;
    cursor: pointer;
}

.token-selector .token-row .token-info,
.token-selector .custom-token-row .token-info {
    flex: 1;
    margin: 0 16px;
}

.token-selector .token-row .token-info>span,
.token-selector .custom-token-row .token-info>span {
    display: block;
}

/*.token-item:enabled:hover {
    background: rgb(0 0 0 / 6%) !important;
}

.token-item:enabled:active {
    background: rgb(0 0 0 / 12%) !important;
}*/

/*.token-selector .token-row:active {
    background: rgb(0 0 0 / 12%);
}*/

.token-selector .token-row:not(disabled):hover, .token-selector .token-row:not(disabled):focus {
    background: rgb(0 0 0 / 6%);
}

.token-selector .custom-token-row .token-actions {
    color: var(--text-color-secondary);
}

.token-selector .custom-token-row .token-actions .mat-icon:not(:first-child) {
    margin-left: 10px;
}

.token-selector .disabled {
    pointer-events: none;
    opacity: 0.5;
}

.token-selector .token-row.disabled::before {
    content: '🗸';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
}

.token-selector .no-result-cnt {
    height: 60px;
    display: flex;
    align-items: center;
    place-content: center;
}

.token-selector .no-result-cnt>span {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-secondary);
}

.token-selector .manage-button-row {
    border-radius: 1rem;
    padding: 6px;
    display: flex;
    gap: 10px;
    background: rgb(0 0 0 / 10%);
}

.token-selector .manage-button-row .manage-button {
    flex: 1;
    border-radius: 1rem;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.token-selector .manage-button-row .manage-button.selected {
    background: rgb(0 0 0 / 12%);
}

.token-selector .manage-button-row .manage-button:not(.selected):hover {
    background: rgb(0 0 0 / 6%);
}

.token-selector .manage-filter-cnt {
    margin-top: 10px;
}

.token-selector .lists-cnt {
    padding: 10px;
}

.token-selector .custom-tokens-cnt {
    flex-direction: column;
    display: flex;
    padding: 0 0 20px 0;
}

.token-selector .custom-tokens-head {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    padding: 10px;
}

.token-selector .suggested-tokens-cnt {
    padding: 10px;
}

.token-selector .suggested-tokens-head {
    background: #edeef2;
    padding: 8px 12px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.token-selector .suggested-tokens-head > span {
    flex: 1;
    margin: 0 10px;
}

.list-item {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 200ms ease 0s;
}

.list-item:not(:first-child) {
    margin-top: 10px;
}

.list-item .list-icon {
    display: inline-block;
}

.list-item .list-info {
    flex: 1;
    margin: 0 16px;
}

.list-item .list-info .list-name {
    font-size: 16px;
    font-weight: 500;
}

.list-item .list-info .list-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item .list-info .list-count > span {
    font-size: 14px;
}

.list-item .list-info .list-count .mat-icon {
    margin-left: 10px;
}

.list-item p-divider {
    display: block;
    margin: 10px 0;
}

.input-tag {
    padding: 10px 14px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 200ms ease 0s;
    color: var(--text-color);
    background-color: rgb(0 0 0 / 10%);
}

.input-tag:not(:first-child) {
    margin-top: 10px;
}

.input-tag .tag-icon {
    display: inline-block;
}

.input-tag .tag-info {
    flex: 1;
    margin: 0 10px;
}

.input-tag .tag-info .tag-title {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.input-tag .tag-info .tag-desc {
    display: block;
    font-size: 14px;
    color: #9E9E9E;
}

.input-tag .icon-text {
    color: #8f8f8f;
}

.token-selector .input-error {
    margin-top: 10px;
    border-radius: 1rem;
    padding: 0.75rem 0.5rem;
}

@media screen and (max-width: 575px) {
    .token-selector {
        min-width: 80vw;
    }
}
