<div class="survey-list-cnt">

    <breadcrumbs></breadcrumbs>

    <div *ngIf="loading" class="loading-cnt">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading && surveys.length > 0" class="survey-list-view">

        <div class="survey-list">
            <survey-card *ngFor="let survey of surveys" [survey]="survey" [forOwner]="true" (onClick)="exploreSurvey(survey.address)"></survey-card>
        </div>

        <p-paginator class="paginator-cnt" [first]="paginatorData.first" [rows]="paginatorData.rows" [totalRecords]="surveysLength" (onPageChange)="onPageChange($event)"
            [showJumpToPageDropdown]="true" [showPageLinks]="false" [rowsPerPageOptions]="[6,12,18,24]"></p-paginator>

    </div>
    
    <span *ngIf="!loading && surveys.length == 0" class="no-results">{{ 'no_results_found' | translate }}</span>

</div>