.survey-list-cnt {
    max-width: 1000px;
    margin: 0 auto;
}

.survey-filter {
    overflow: visible;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    gap: 10px
}

.survey-filter .p-inputtext {
    width: 50%;
}

::ng-deep .survey-filter p-multiselect {
    max-width: 50%;
}

::ng-deep .survey-filter p-multiselect .p-multiselect {
    width: 100%;
}

.survey-list-view {
    margin-top: 20px;
}

.survey-list-view .survey-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.survey-list-view .paginator-cnt {
    margin-top: 20px;
}

@media screen and (max-width: 1040px) {
    .survey-list-cnt {
        margin: 20px;
    }

    .survey-list-view .survey-list {
        justify-content: space-around;
    }
}
