<div class="select-token" matRipple (click)="emitSelect($event)" (contextmenu)="onRightClick($event)"
[class.selectable]="hasSelect" pTooltip="{{ data.address? data.hfBalance + ' ' + data.symbol: '' }}" tooltipPosition="top">
    <div class="icon">
        <lazy-thumb class="token-thumb" [url]="data.logoURI" [alt]="data.symbol" type="token" size="40px"></lazy-thumb>
    </div>

    <div class="text">
        <span *ngIf="data.address && data.name" class="tkn-desc line-limit">{{ data.name }}</span>
        <span *ngIf="data.address && !data.name" class="tkn-desc line-limit">{{ 'unknown' | translate }}</span>
        <span *ngIf="!data.address" class="tkn-desc line-limit">{{ 'select_token' | translate }}</span>
        <div *ngIf="data.address && data.symbol" class="tkn-dets">
            <span class="tkn-symbol line-limit">{{ data.symbol }}</span>
            <span class="tkn-balance line-limit">{{ shortAddress }}</span>
        </div>
    </div>

    <mat-icon *ngIf="hasSelect">arrow_drop_down</mat-icon>
</div>

<p-overlayPanel #menuOverlay [showCloseIcon]="false">
    <span class="title">{{ data.symbol }} ({{ data.name }})</span>
    <p-divider></p-divider>
    <a class="action-item" (click)="copyAddress()">
        {{ 'copy_address' | translate }}
    </a>
</p-overlayPanel>
