.dash-card {
    margin-top: 28px;
    text-align: left;
    padding: 14px;
}

/*.dash-card-content {   
}*/

.dash-card-icon {
    position: absolute;
    top: -28px;
    background: #999;
    border-radius: 3px;
    padding: 14px;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0 0 0 / 20%);
    -moz-box-shadow: 2px 2px 10px 1px rgba(0 0 0 / 20%);
    box-shadow: 2px 2px 10px 1px rgba(0 0 0 / 20%);
}

.dash-card-icon > .mat-icon {
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    width: 36px;
    height: 36px;
}

.dash-card-text {
    text-align: right;
}

.dash-card-title {
    display: block;
    color: var(--text-color);
    font-size: 16px;
}

.dash-card-value {
    display: block;
    color: var(--text-color);
    font-size: 24px;
    margin-top: 14px;
}

.dash-card-text .dot-pulse {
  margin-top: 14px;
}

.dash-card .mat-divider {
    margin: 16px 0 10px 0;
}

.dash-card-base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    color: var(--text-color-secondary);
}

.dash-card-info {
    display: inline-flex;
    align-items: center;
}

.dash-card-info > .mat-icon {
    margin-right: 7px;
}

.dash-card-info > span {
    font-size: 14px;
    font-weight: 400;
}
