/* App style */

.container {
  height: 100%;
}

.header {
  padding: 1.25rem 4rem;
}

.head-primary {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.head-secondary {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.header .logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-decoration: none;
}

.header .logo > img {
  width: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 1px 20px 0px var(--bg-mask-25);
  background: #3a4570;
}

.header .logo > span {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: .625rem;
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.header .menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .balance-chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.header .mat-button {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: var(--text-color);
}

.nav-button-active {
  background: var(--surface-d);
}

::ng-deep .header .p-button {
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 2rem;
}

::ng-deep .header .p-button .p-button-label {
  font-weight: 600;
}

::ng-deep .header .p-button-rounded {
  width: 2.5rem;
  height: 2.5rem !important;
}

::ng-deep .header .p-button-secondary .pi-circle-on {
  color: #3af142;
  font-size: 12px;
}

/*::ng-deep .header .balance-chip {
  height: 2.5rem;
  border-radius: 2rem !important;
}*/

.content {
  /*min-height: 100vh;*/
  text-align: start;
  margin-top: 20px;
}

.footer {
  padding: 4rem 4rem 1.25rem 4rem;
  text-align: center;
}

::ng-deep .p-sidebar .p-sidebar-header {
  /*padding: 1.25rem;
  display: none;*/
  padding: 10px;
}

::ng-deep .p-sidebar-content a {
  display: inherit;
  padding: 5px 10px;
  text-align: start;
  color: rgb(0 0 0 / 65%);
}

::ng-deep .p-sidebar-content a .mat-button-wrapper>span {
  margin: 0 8px;
}

::ng-deep .p-sidebar-content a:not(:first-child) {
  margin-top: 4px;
}

.scroll-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 14px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scroll-top {
  opacity: 1;
  transition: all .2s ease-in-out;
}

::ng-deep .light-theme .chain-data {
  background: rgb(0 0 0 / 10%);
}
::ng-deep .dark-theme .chain-data {
  background: rgb(0 0 0 / 75%);
}

.chain-data {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 2rem;
  padding: 8px 16px;
}
.chain-data .mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: #689F38;
  margin-right: 4px;
}
.chain-data > div > span {
  font-size: 12px;
}

/* Responsive Styles */

@media screen and (max-width: 1120px) {
  .header {
    padding: 1.25rem 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding: 4rem 1.5rem 1.25rem 1.5rem;
  }

  .chain-data {
    display: none !important;
  }
}
