<div class="response-impl content-panel">
    <div class="response-title">
        <span *ngIf="!question"> .. </span>
        <span *ngIf="question" class="question text-limit">{{ question.content.title }}</span>
        <span *ngIf="answersNum" class="answer-num">{{ answersNum }} {{ ((answersNum > 1)? 'answers': 'answer') | translate | lowercase }}</span>
    </div>

    <div class="response-content">
        <div *ngIf="loading || loadResponses" class="loading-cnt">
            <mat-spinner color="accent"></mat-spinner>
        </div>
    
        <dynamic-template *ngIf="!loading && dynamicItem" class="response-comp" [item]="dynamicItem"></dynamic-template>
    </div>

    <p-paginator *ngIf="!loading && paginatorData" 
        [first]="paginatorData.first" [rows]="paginatorData.rows" 
        [totalRecords]="partsNum" (onPageChange)="onPageChange($event)"
        [showJumpToPageDropdown]="true" [showPageLinks]="false" [rowsPerPageOptions]="[5,10,15,20]"></p-paginator>
</div>