<div *ngIf="state?.txData" class="details-cnt">

    <breadcrumbs></breadcrumbs>

    <survey-banner [survey]="state.survey" [surveyStateInfo]="surveyStateInfo" (onClick)="backToDetails()">
    </survey-banner>

    <p-messages [(value)]="messages" [enableService]="false"></p-messages>

    <div *ngIf="gettingHash" class="content-panel tx-loading">
        <div>{{ 'getting_transaction_hash' | translate }}</div>
        <span class="dot-pulse" style="margin-top: 10px;"></span>
    </div>

    <tx-status *ngIf="txHash" class="tx-details" [txHash]="txHash" [isMetaTx]="state.isMetaTx" (onReceipt)="onReceipt($event)"></tx-status>

    <div class="control-grid">

        <button mat-flat-button class="template-icon back-button" [disabled]="(txHash && !receipt) || gettingHash" (click)="goDashboard()">
            <mat-icon icon="dashboard"></mat-icon>
            <span>{{ 'go_to_dashboard' | translate }}</span>
        </button>

        <button mat-flat-button class="template-icon print-button" color="primary" [disabled]="!receipt" (click)="printDetails()">
            <mat-icon icon="print"></mat-icon>
            <span>{{ 'print_details' | translate }}</span>
        </button>

    </div>

</div>
