.inc-timeline {
    padding: 14px;
    margin: 0 auto;
}

.inc-timeline .controls {
    display: inline-flex;
    gap: 4px;
}

.inc-timeline .controls .mat-button {
    font-size: 12px;
    min-width: auto;
    line-height: normal;
    padding: 4px 10px;
}

.inc-timeline .controls .control-active {
    background: rgb(0 0 0 / 10%);
}

.inc-timeline .chart {
    margin-top: 14px;
}

::ng-deep .inc-timeline .apexcharts-tooltip {
    background: #495057 !important;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
}

::ng-deep .inc-timeline .apexcharts-tooltip > label {
    font-weight: 300;
}

::ng-deep .inc-timeline .apexcharts-tooltip > span {
    font-weight: 500;
    margin-left: 5px;
}
