.sale-cnt {
    max-width: 672px;
    margin: 0 auto;
}

::ng-deep .sale-cnt .p-panel .p-panel-header {
    min-height: 62px;
}

.refresh-button {
    position: relative;
}

.refresh-button:before {
    content: attr(data-before);
    position: absolute;
    right: -8px;
    top: -2px;
    font-size: 12px;
    width: 16px;
    text-align: left;
}

.swap-input {
    display: block;
    margin-top: 14px;
}

.swap-output {
    display: block;
}

.swap-divider {
    position: relative;
    height: 14px;
}

.swap-divider .p-button, .swap-divider .swap-icon-cnt {
    position: absolute;
    top: -14px;
    left: calc(50% - 29px);
    border: 4px solid var(--surface-e);
    padding: 6px 16px;
}

.swap-divider .swap-icon-cnt {
    background: var(--surface-border);
    border-radius: 1rem;
    padding: .25rem 1rem;
}

.swap-val {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.swap-val-price {
    cursor: pointer;
    color: var(--text-color-secondary);
}

.swap-button {
    width: 100%;
    border-radius: 1rem;
    /*padding: 1rem;*/
    padding: 7px;
    margin-top: 10px;
}

.tx-config-cnt .tx-config-field:not(:first-child) {
    margin-top: 20px;
}

.tx-config-cnt .tx-config-field > label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.tx-config-cnt .tx-config-field > .tx-config-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

::ng-deep .tx-config-cnt .p-inputnumber-buttons-horizontal .p-inputnumber-input {
    width: 100%;
}

.offer-info {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.offer-info > label {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color-secondary);
    /*min-width: 200px;*/
}
.offer-info > span {
    flex: 1;
    /*min-width: 320px;*/
    font-weight: 500;
}

.sale-info {
    margin-top: 20px;
    padding: 0 8px;
}
.sale-info > label,
.sale-info > span {
    font-weight: 500;
}
.sale-info > label {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-color-secondary);
}
.sale-info > span {
    display: block;
}
.sale-info > ul {
    padding-left: 20px;
}

.sale-progress {
    margin-top: 20px;
    padding: 0 8px;
}

.sale-progress .sale-progress-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sale-progress .sale-progress-info > div > label,
.sale-progress .sale-progress-info > div > span {
    font-weight: 500;
}

.sale-progress .sale-progress-info > div > label {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.sale-progress .sale-progress-info > div > span {
    display: block;
}

.sale-progress .mat-slider {
    pointer-events: none;
}

.sale-progress .mat-slider {
    width: 100%;
}

/*.sale-time {
    margin-top: 20px;
}*/

.sale-time > label {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color-secondary);
    margin-left: 8px;
}

.sale-time > flipdown {
    display: block;
    text-align: center;
}

.sale-pnd, .sale-end {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media screen and (max-width: 712px) {
    .sale-cnt {
        margin: 20px;
    }
}
